{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": 1,
    "no-const-assign": 2,
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "no-var": 1,
    "prefer-const": 1,
    "no-trailing-spaces": 0,
    "spaced-comment": 0,
    "max-len": 0,
    "comma-dangle": 0,
    "padded-blocks": 0,
    "arrow-parens": 0,
    "curly": 0,
    "prefer-rest-params": 0,
    "require-jsdoc": 0,
    "quotes": 0,
    "indent": 0,
    "new-cap": 0
  }
}
